:root {
  --colorPrimary: #ff6c00;
  --fontColor: #fff;
  --lineColor: #9DA4BD;
}


*{
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
}

.openSans{
  font-family: 'Open Sans', sans-serif;
}

.raleway{
  font-family: 'Raleway', sans-serif;
}

.hero{
  width: 100%;
  height: 80vh;
  display: flex;
}

.barraizquierda{
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.linea{
  width: 60px;
  height: 1px;
  background-color: var(--lineColor);
  margin-right: 15px;
}

a {
  text-decoration: none;
  color: var(--fontColor);
  font-size: 12px;
  font-weight: 500;
}

a:hover {
  color: var(--colorPrimary);
}

button {
  background: transparent;
  color: var(--fontColor);
  outline: none;
  border: none;
  border-style: solid;
  border-width: 1px;
  border-color: var(--colorPrimary);
  border-radius: 25px;
  padding: 10px 15px;
}

.barraderecha{
  width: 90%;
  height: 100%;
  background-image: url("/img/Slider\ img\ 3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 25px;
}

.datosContacto{
  
}

.info{
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 12px;
  padding: 15px;
}


.hero-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
  color: #fff;
  height: 85%;
}

.hero-text > p {
  color: var(--lineColor);
}

.subtitle{
  display: flex;
  align-items: center;
}

h1{
  font-size: 72px;
}

.nosotrosSection{
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
  padding: 100px 25px;
}

.nosotrosSection > img {
  width: 23%;
}

.nosotrosSection > div{
  width: 50%;  
}

.nosotrosSection h3{
  font-size: 42px;
}

main{
  width: 100%;
}