
.subtitulo{
   font-weight:600;
   font-size: 11px;
   color: var(--lineColor)
}
.titulosection{
    font-family: 'Raleway', sans-serif;
    font-weight:700;
    font-size:42px;
    color: var(--fontColor);
}
.tablainfo{
    font-weight: 400;
    font-size: 18PX;
    color: var(--lineColor);
}
.linea1{
    width: 235px;
    height: 1px;
    background-color: var(--lineColor);
    margin-right: 15px;
    color:var(--lineColor);
}
.preciossection{
    display:flex;
    flex-direction:column;
}
.tinfo{
    font-weight: 400;
color: var(--lineColor);    
}
button {
    background: transparent;
    color: var(--fontColor);
    outline: none;
    border: none;
    border-style: solid;
    border-width: 1px;
    border-color: var(--colorPrimary);
    border-radius: 25px;
    padding: 10px 15px;
}